<div class="container">
  <nav>
    <ul>
      <li><a href="/"><strong>WebGPU Playground</strong></a></li>
    </ul>
    <ul>
      <li><a href="/learning/">Learning</a></li>
      <li><a href="/skeleton/">Skeleton</a></li>
      <li><a href="/shader/">Shader</a></li>
      <li><a href="/applications/">Applications</a></li>
      <li><a class="contrast" href="mailto:hello@nicolasforgerit.com">Contact</a></li>
    </ul>
  </nav>
</div>
